*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #FAFAFA;
}

#logo{
    border-radius: 5px;
}

#carousel{
    width: 75%;
    margin: 25px auto;
}

.carousel-item img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.naslov{
    margin: 25px;
    text-align: center;
}

#o-nama{
    width: 80%;
    margin: 25px auto;
}

#najpopularniji-aranzmani{
    width: 80%;
    margin: 25px auto;
}

.card img{
    width: 100%;
    aspect-ratio: 9 / 16;
    object-fit: cover;
}

.card-text{
    text-align: justify;
}

#footer{
    padding: 20px;
}

#kontakt{
    width: 50%;
    margin-left: 0px;
}

#mapa{
    width: 50%;
}

.opis{
    width: 60%;
    margin: 0 auto;
    text-align: justify;
}